* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #2b2d42;
  -webkit-font-smoothing: antialiased;

  overflow: hidden;

  display: flex;
  justify-content: center;
}

#canvas {
  background-color: #8d99ae;
}
